<div class="row {current}" id="c{data.uid}" data-typo3-source-hint="EXT:themes_gridelements/Resources/Private/Templates/Elements/4ColumnGrid.html">
    <div class="{themes.responsive.column.0.cssClasses}">
        <f:format.raw>{data.tx_gridelements_view_columns.0}</f:format.raw>
    </div>
    <div class="{themes.responsive.column.1.cssClasses}">
        <f:format.raw>{data.tx_gridelements_view_columns.1}</f:format.raw>
    </div>
    <div class="{themes.responsive.column.2.cssClasses}">
        <f:format.raw>{data.tx_gridelements_view_columns.2}</f:format.raw>
    </div>
    <div class="{themes.responsive.column.0.cssClasses}">
        <f:format.raw>{data.tx_gridelements_view_columns.3}</f:format.raw>
    </div>
</div>
